.title-image {
  background-image: radial-gradient(circle at 20% 50%, rgba(52, 102, 143, 0.842) 0%, rgba(68, 131, 182, 0.88) 100%);
  padding: 20px 30px;
  margin-top: 20px;
}

.back-title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.wrapper { 
    width: 1000px;
    margin: 20px auto;
    display: flex;
    color: #fff;
  }

.poster {
  height: 400px;
}

h1, h3, p {
  margin-top: 0;
  margin-bottom: 10px;
}

.subtext {
  color: lightgrey;
  font-size: 20px;
}

.content {
    height: 400px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ganre {
  display: flex;
  flex-direction: row;
}

.tags {
  margin-right: 20px;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.icon:first-child {
  margin-right: 80px;
  border: 5px solid greenyellow;
  font-size: 24px;
}

.sup {
  font-size: 15px;
  vertical-align: super;
}

.favorite, .bookmark {
  align-self: flex-end;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}



.works {
  display: flex;
  justify-content: space-between;
}

.prof {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}



.info-side {
  width: 1000px;
  margin: 0 auto;
  display: flex;

}

.actor-tab {
  display: flex; 
  padding: 20px 0;
  justify-content: space-between;
}

.example-card {
  height: 280px;
  margin: 5px;
}

.card-image {
  height: 250px;
}

.title-text {
  font-size: 16px;
}

.info {
  width: 980px;
  padding: 10px;
}

.info-block {
  display: flex;
  margin-top: 5px;
}

.info-block-title {
  width: 200px;
  text-align: left;
  font-weight: bold;
}

.cont-text {
  margin-left: 30px;
  list-style: none;
}