<div class="back-title" *ngIf="details" [style.background-image]="'url(' + myBackgroundUrl + ')'">
  <div class="title-image">
    <div class="wrapper">
      <div>
        <img class="poster" src="{{imgUrl}}{{details.poster_path}}" alt="">
      </div>
      <div class="content">
        <div class="title-block">
          <h1>{{details.title}} <span class="subtext">({{details.release_date | slice:0:4}})</span></h1>
          <div class="ganre">
            <div class="tags" *ngFor="let ganre of details.genres">#{{ganre.name}}</div>
          </div>
        </div>
        <div class="icons">
          <div class="vote icon">
            <div>{{details.vote_average * 10}}<span class="sup">%</span></div>
          </div>
          <div class="bookmark icon">
            <mat-icon>bookmark_border</mat-icon>
          </div>
          <div class="favorite icon">
            <mat-icon>favorite_border</mat-icon>
          </div>
        </div>
        <div>
          <h3>Cюжет</h3>
          <p>{{details.overview}}</p>
        </div>
        <div class="works">
          <div class="work" *ngFor="let creator of creators">
            <div class="prof">{{creator.job}}</div>
            <div class="prof-name">{{creator.name}}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-side" *ngIf="details">
  <div class="tab-bar" style="text-align: center">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Актеры">
        <div class="actor-tab example-small-box mat-elevation-z4">
          <mat-card class="example-card" *ngFor="let cast of credits">
            <a [routerLink]="['/actor', cast.id]">
              <img mat-card-image src="{{imgUrl}}{{cast.profile_path}}" class="card-image" alt="Photo of {{cast.name}}">
            </a>
            <mat-card-title class="title-text">{{cast.name}}</mat-card-title>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Трейлер">
        <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
      
      </mat-tab>
      <mat-tab label="Доп.инфо">
        <div class="info">
          <div class="info-block">
            <div class="info-block-title">Исходное название</div>
            <div class="cont-text">{{details.original_title}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Статус</div>
            <div class="cont-text">{{details.status}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Информация о выпуске</div>
            <div class="cont-text">{{details.release_date}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Исходный язык</div>
            <div class="cont-text">{{details.original_language}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Длительность</div>
            <div class="cont-text">{{details.runtime}} минут</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Бюджет</div>
            <div class="cont-text">${{details.budget}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Сборы</div>
            <div class="cont-text">${{details.revenue}}</div>
          </div>
          <div class="info-block">
            <div class="info-block-title">Компании</div>
            <ul class="cont-text" style="padding-left: 0">
              <li *ngFor="let company of details.production_companies" style="text-align: left; padding-left: 0">{{company.name}}  
                <img src="{{imgUrl}}{{company.logo_path}}" alt="" height="20px">
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>


<!-- <h3 class="subtext">Бюджет {{details.budget / 1000000}} млн.долларов</h3> -->
<!-- <h3>Компании:</h3>
        <div *ngFor="let company of details.production_companies; index as i" class="company">
          <div>{{i+1}}. {{company.name}}
            <img src="{{imgUrl}}{{company.logo_path}}" alt="" height="20px">
          </div>
        </div> -->
<!-- <div style="display: flex">
          <mat-card class="example-card" *ngFor="let cast of credits">
            <a [routerLink]="['/actor', cast.id]">
              <img mat-card-image src="{{imgUrl}}{{cast.profile_path}}" class="card-image" alt="Photo of {{cast.name}}">
            </a>

            <mat-card-title class="title-text">{{cast.name}}</mat-card-title>


          </mat-card>
        </div> -->
