<!-- <mat-form-field class="example-form-field" > -->
<div class="search-field">
  <input class="search"
    type="text" 
    placeholder="Поиск" 
    [(ngModel)]="value"
    (keyup.enter)="sendValueToService()"
    >
    <mat-icon 
    class="clear-btn"
    *ngIf="value"
    (click)="clearValue()"
  >cancel</mat-icon>
</div>
<!-- </mat-form-field> -->
