/* .clear-btn {
    cursor: pointer;
    font-size: 15px;
}

.clear-btn:hover {
    color: lightgray;
}

input:-internal-autofill-selected {
    background-color: black !important;
} */

.search-field {
    position: relative;
}

input {
    width: 344px;
    height: 37px;
    background: #FFFFFF;
    box-shadow: 4.51739px 4.51739px 9.03479px rgba(0, 0, 0, 0.5);
    border-radius: 9.03479px;
    padding-left: 10px;
    font-size: 20px;
    color: #8D9094;
}

.clear-btn {
    position: absolute;
    right: 60px;
    top: 10px;
    color: #8D9094;
    cursor: pointer;
}


