<div class="wrapper">
  <p>Найдено {{totalResult}} результатов!</p>

  <div fxLayout="column" gdColumns="24% 24% 24% 24%" fxLayoutAlign="space-between">
    <ng-container *ngIf="!isActorHandler">
      <div *ngFor="let film of films">
        <app-film-item [item]="film"></app-film-item>
      </div>
    </ng-container>
    <ng-container *ngIf="isActorHandler">
      <div *ngFor="let actor of actors">
        <app-actor-item *ngIf="isActorHandler" [actor]="actor"></app-actor-item>
      </div>
    </ng-container>
  </div>
  <div class="center">
    <button *ngIf="!isMaxPage" mat-button class="nxt-btn" (click)="getNextPageHandler()">Next Page</button>
    <button *ngIf="isMaxPage" mat-button class="nxt-btn" disabled>It's last page</button>

  </div>
</div>
