<div class="login-form">
  <form [formGroup]="userForm" (ngSubmit)="logging()">
      <div class="title">Авторизация</div>

      <ng-container *ngIf="isAlertMsg">
          <div class="alert-msg">{{alertMsg}}</div>
        </ng-container>
      <div *ngIf="formErrors.userName" class="alert-msg">
          {{formErrors.userName}}
      </div>
      <br> 
      
      <input 
        matInput 
        type="text" 
        placeholder="Имя пользователя" 
        [(ngModel)]="user.login" 
        formControlName="userName" 
        class="form-input"
        id="name"
        [ngClass]="{ invalid: userForm.get('userName').invalid && 
                     (userForm.get('userName').touched && userForm.get('userName').dirty) }"
      >

      <input 
        matInput 
        type="password" 
        placeholder="Пароль" 
        [(ngModel)]="user.password" 
        formControlName="userPassword" 
        class="form-input"
      >
      <br> 

      <div *ngIf="formErrors.userPassword" class="alert-msg">
          {{formErrors.userPassword}}
      </div>
      <br> 

      <button 
        class="btn-submit"
        type="submit"
        [disabled]="userForm.invalid"
      >Войти
    </button>
  </form>

  
</div>

<!-- <mat-card-header>
  <mat-card-title>Введите имя пользователя и пароль</mat-card-title>
</mat-card-header>
<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Имя пользователя" [(ngModel)]="user.login" formControlName="userName">
</mat-form-field>
<br>
<mat-form-field class="example-form-field">
  <input matInput type="password" placeholder="Пароль" [(ngModel)]="user.password" formControlName="userPassword">
</mat-form-field>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="logging()">Войти</button>
</mat-card-actions> -->
