.login-form {
  margin: 100px auto;
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 30px;
  text-align: center;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 30px;
}
.alert-msg {
    background-color: lightcoral;
    color: white;
    padding: 10px;
}

.form-input {
    padding-left: 20px;
    height: 50px;
    font-size: 22px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 7px;
}

.btn-submit {
  margin-top: -20px;
  width: 110px;
  height: 43px;
  background: #4895C0;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.btn-submit:disabled {
  background-color: lightgray;
}


.invalid {
    border: 1px solid red;
}
