<mat-card class="example-card" (click)="showDetails()">
  <img mat-card-image src="{{imgUrl}}{{actor.profile_path}}" alt="Photo of {{actor.name}}">
  <mat-card-header>
    <mat-card-title>{{actor.name}}</mat-card-title>
    <!-- <mat-card-subtitle *ngFor=""></mat-card-subtitle> -->
  </mat-card-header>
    
</mat-card>