<div class="wrapper">

  <h4>Популярные фильмы</h4><br>
  <!--Сделать кнопку "Показать все"-->
  <div fxLayout="column" gdColumns="16% 16% 16% 16% 16% 16%" fxLayoutAlign="space-between">
    <div *ngFor="let film of films">
      <mat-card class="example-card">
        <a [routerLink]="['/film', film.id]">
          <img mat-card-image src="{{imgUrl}}{{film.poster_path}}" class="card-image" alt="Photo of {{film.title}}">
        </a>
          <mat-card-header>
            <mat-card-title class="title-text">{{film.title | slice:0:35}}</mat-card-title>
          </mat-card-header>
        
      </mat-card>
    </div>
  </div>
  <h4>Популярные актеры</h4><br>
  <!--Сделать кнопку "Показать все"-->
  <div fxLayout="column" gdColumns="16% 16% 16% 16% 16% 16%" fxLayoutAlign="space-between">
    <div *ngFor="let actor of actors">

      <mat-card class="example-card">
        <a [routerLink]="['/actor', actor.id]">
          <img mat-card-image src="{{imgUrl}}{{actor.profile_path}}" class="card-image" alt="Photo of {{actor.name}}">
        </a>
          <mat-card-header>
            <mat-card-title class="title-text">{{actor.name}}</mat-card-title>
          </mat-card-header>
        
      </mat-card>

    </div>
  </div>
</div>
