.wrapper{
    margin: 50px auto;
    text-align: center;
    width: 70%;
}

.example-card {
    cursor: pointer;
}

h4 {
    margin: 5px auto;
}

.mat-card {
    height: 315px;
    overflow: hidden;
}

.title-text{
    font-size: 18px;
}

.card-image {
    height: 280px;
}

