 .card {
   position: relative;
   width: 180px;
   height: 300px;
   box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
   overflow: hidden;
   border-radius: 5px;
   margin-bottom: 30px;
   box-sizing: border-box;
 }

 .card:hover .marks {
    top: 0px;
 }

 .marks {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: -50px;
    width: 100%;
    height: 50px;
    transition: 0.5s;
 }

 .icon {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px 0;
   width: 40px;
   height: 40px;
   border: 2px solid #8D9094;
   border-radius: 22px;
   background-color: #fff;
   font-size: 40px;
   line-height: 40px;
   color: #4895C0;
 }

 .favorite:hover {
  color: rgb(214, 41, 142);
 }

 .bookmark:hover {
   color: red;
 }

 .checked {
   color: rgb(214, 41, 142);
 }

  .card:hover .title {
  box-shadow: inset 0px 0px 22.2905px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5.57263px 5.57263px;
 }

 .img-poster img{
   width: 180px;
   height: 240px;
   cursor: pointer;
 }

 .title {
   cursor: pointer;
   height: 60px;
   font-size: 18px;
   text-align: center;
   padding: 10px 5px;
   vertical-align: middle;
   box-sizing: border-box;
   margin-top: -4px;
 }


