<div class="card" >
  <div class="marks">
    <!-- <div class="icon reorder" (click)="showDetails()"><mat-icon>reorder</mat-icon></div> -->
    <div class="icon bookmark"><mat-icon>bookmark_border</mat-icon></div>
    <div class="icon favorite" *ngIf="!item.isFavorite" (click)="setToFavorite()"><mat-icon>favorite_border</mat-icon></div>
    <div class="icon favorite checked" *ngIf="item.isFavorite" (click)="deleteFavoriteStatus()"><mat-icon>favorite</mat-icon></div>
  </div>
  <div class="img-poster" (click)="showDetails()">
    <img src="{{imgUrl}}{{item.poster_path}}" alt="Photo of {{item.title}}">
  </div>
  <div class="title" (click)="showDetails()">{{item.title | slice:0:35}}</div>
</div>


