<header>
  <nav>
    <div class="logo">
      <img src="../assets/img/logo.png" alt="">
    </div>
    <div class="search">
      <app-search *ngIf="isShowButton"></app-search>
    </div>
    <div class="routes" *ngIf="isShowButton">
      <div *ngFor="let link of links" class="link">
        <a class="routes-link"
           [routerLink]="link.path"
           [routerLinkActive]="link.active"
           >{{link.label}}
        </a>
      </div>
    </div>
    <div class="loggin" *ngIf="isShowButton">
      <div class="user">Taras</div>
      <div class="btn-loggout" (click)="logout()">Выйти</div>
    </div>
  </nav>
</header>

<!-- 
        <mat-toolbar color="primary">
   <mat-toolbar-row class="wrapper">

     <span><img src="../assets/img/logo.svg" alt="logo" width="81" height="72"></span>

     <span class="example-spacer"></span>

     <app-search *ngIf="isShowButton"></app-search>

     <ng-container *ngIf="isShowButton">
       <a mat-button
         *ngFor="let link of links"
         [routerLink]="link.path"
         [routerLinkActive]="link.active"
         >
         <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
       </a>
       <button mat-raised-button color="primary" (click)="logout()" class="logoutBtn">Выйти</button>
     </ng-container>

   </mat-toolbar-row>

 </mat-toolbar> -->

  <app-progress></app-progress> 
  
  <router-outlet></router-outlet>
     




    
