header {
  width: 100%;
  height: 100px;
  background-color: #4895C0
}

nav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-grow: 1;
  margin-right: 20px;
}

.search {
  flex-grow: 2;
}

.logo img {
  width: 80px;
  height: 90px;
  margin: auto 0;
}



.routes {
  display: flex;
  flex-grow: 3;
  justify-content: space-around;
}

.routes a {
  text-decoration: none;
  font-size: 19px;
  
}

.link  {
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}


.button-active {
  box-shadow: inset 4px 4px 9px rgba(0, 0, 0, 0.426);
  border-radius: 5px;
}

.routes-link {
  padding: 10px;
  color: #fff;
}

.loggin {
  flex-grow: 1;
  float: right;
  margin-left: 20px;
}

.btn-loggout {
  padding: 7px;
  background: #8D9094;
  border-radius: 4.66875px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.user {
  text-align: center;
}






/* body {
 background-color: whitesmoke !important;
}
.example-icon {
   padding: 0 5px;
 }

.example-spacer {
   flex: 1 1 auto;
}

.mat-toolbar {
 height: 100px;
 background-color: black
}

.wrapper {
 width: 70%;
 margin: 20px auto;
}

.mat-button {

 font-size: 20px;
}

.hide {
 display: none;
}

.show {
 display: block;
}

.button-active {
 background-color: lightgrey;

}

.logoutBtn {
 margin-left: 60px;
} */

/* :host ::ng-deep <.class> {} */
