 .wrapper {
    width: 1000px;
    margin: 50px auto;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between
}

.background-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 130, 130, 0.6);
    text-align: center;
    z-index: 1000;
    
}

.load-img {
    position: relative;
    top: 130px;
    width: 300px;
    height: 200px;
}

.example-spacer {
    flex: 1 1 auto;
}

.menu-toolbar {
    background-color: white;
}

.show-list-btn, .hide-list-btn {
    text-decoration: none;
    font-weight: 100;
    color: lightgray;
    font-size: 16px;
}

.favorite-list {
    text-align: left;
}

li {
    list-style: none;
}

.center {
    text-align: center;
}

.nxt-btn {
    background-color: #4895C0;
    color: #fff;
    margin-bottom: 30px;
}




