  <!-- <mat-card class="menu-card">
    
      <mat-toolbar class="menu-toolbar">
          <mat-toolbar-row>
            <span>В избранное добавлено: 0 элементов. </span>
            <span class="example-spacer">
              <form class="example-form">
                
                  <app-search (sendValue)="searchItems($event)"></app-search>
                
              </form>
            </span>
              <div>
                  <mat-form-field>
                    <mat-select (selectionChange)="changeItemsList()" [(ngModel)]="sortingType" >
                      <mat-option *ngFor="let sortItem of sortItems" [value]="sortItem.value">
                        {{sortItem.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </mat-toolbar-row>
      </mat-toolbar>
       
  </mat-card> -->
 

<div class="wrapper">
  <ng-container *ngIf="isNotFound">По вашему запросу ничего не найдено!</ng-container>




  <div class="container">
    <div *ngFor="let item of items">
      <app-film-item 
        [item]="item" 
        (updateFavorite)="setFavoriteStatus($event)" 
        (deleteFavorite)="deleteFavoriteStatus($event)" 
      ></app-film-item>
    </div>
  </div>




  <div class="center">
    <button mat-button 
        *ngIf="!isMaxPage"
        class="nxt-btn" 
        (click)="getNextPageHandler($event)" 
        [style.display]="isHideNextBtn ? 'none' : 'inline-block'"
        >
        Next Page
    </button>
    <button mat-button 
        *ngIf="isMaxPage"
        class="nxt-btn" 
        disabled>
        It's last page
    </button>
    
  </div>
</div>



