<div class="wrapper">
  <div fxLayout="column" gdColumns="24% 24% 24% 24%" fxLayoutAlign="space-between">
    <div *ngFor="let actor of actors">
      <app-actor-item 
        [actor]="actor" 
      ></app-actor-item>
      
    </div>
  </div>
  <!-- <div class="center">
    <button mat-button 
        *ngIf="!isMaxPage"
        class="nxt-btn" 
        (click)="getNextPageHandler($event)" 
        [style.display]="isHideNextBtn ? 'none' : 'inline-block'"
        >
        Next Page
    </button>
    <button mat-button 
        *ngIf="isMaxPage"
        class="nxt-btn" 
        disabled>
        It's last page
    </button>
    
  </div> -->
</div>