<div class="back-title" *ngIf="details">
  <div class="title-image">
    <div class="wrapper">
      <div>
        <img class="poster" src="{{imgUrl}}{{details.profile_path}}" alt="">
      </div>
      <div class="content">
        <h1>{{details.name}} <span class="subtext">({{details.birthday}})</span></h1>
        <!-- <div *ngFor="let ganre of details.genres" class="ganre">
        <span class="tags">#{{ganre.name}}</span>
      </div> -->
        <h3>Биография</h3>
        <p *ngIf="!isFullBiography && details.biography; else noBiographyBlock">{{details.biography | slice:0:800}}...
          <a (click)="showFullBiography($event)" class="showTools">Eще</a></p>
        <p *ngIf="isFullBiography">{{details.biography}} <a (click)="showFullBiography($event)"
            class="showTools">Скрыть</a></p>
        <ng-template #noBiographyBlock>Нет данных для отображения</ng-template>
        <h3>Фильмы</h3>
        <div style="display: flex">
          <mat-card class="example-card" *ngFor="let cast of credits">
            <a [routerLink]="['/film', cast.id]">
              <img mat-card-image src="{{imgUrl}}{{cast.poster_path}}" class="card-image" alt="Photo of {{cast.title}}">
            </a>

            <mat-card-title class="title-text">{{cast.title}}</mat-card-title>


          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
